<div class="hero">

    <div class="avatar">
<pre>
 .----.
| o  o |
|  /\  |
| '--' |
 '----'
</pre>
    </div>

    <div class="hero-text">
        Olá visitante!

        Meu nome é
        <span class="highlight">Jaime Victor</span>.

        Sou estudante de Engenharia da Computação pela UEMA,
        técnico em Informática pelo IFMA e apaixonado por
        infraestrutura, Linux, backend e DevOps.

        Atualmente estudo Java, Spring Boot, Docker,
        Cloud Computing e tecnologias voltadas para ambientes Linux.
    </div>

</div>  
