<div class="footer">

    <div class="counter">
        VISITAS: 000001
    </div>

    <div class="counter">
        ONLINE: 1
    </div>

    <p>
        Melhor visualizado em Netscape Navigator 4.0 • 800x600 • Java habilitado
    </p>

</div>

<div class="statusbar">
    <span>© 2026 Jaime Victor</span>
    <span>HTML 3.2 Compatible</span>
</div> 
