---
interface Props {
    title: string;
    description: string;
    tech?: string;
    link?: string;
}

const { title, description, tech, link } = Astro.props;
---

<div class="project">
    <div class="project-title">
        {title}
    </div>

    {tech && <div class="tech">{tech}</div>}

    <p>{description}</p>

    {link && <div class="project-links"><a href={link}>GitHub</a></div>}
</div>
