---
import clipy from "../assets/clipy.gif"
import skull from "../assets/Knjgender Tumblr Sticker – Knjgender Tumblr Skeleton – GIFs entdecken und teilen.gif"
---

<div class="retro-sidebar">

    <img src={clipy.src} alt="Clippy">
    <img src={skull.src} alt="">
    <img src="/gifs/mailbox.gif" alt="">
    <img src="/gifs/java.gif" alt="">

</div>
