---
import clipy from "../assets/clipy.gif"
---

<div class="retro-sidebar">

    <img src={clipy.src} alt="Clippy">
    <img src="/gifs/pcpinguin.gif" alt="Linux Penguin">
    <img src="/gifs/esqueleto.gif" alt="">

</div>